doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Projects
    link(rel="stylesheet" href=`/css/main.css?ts=${timestamp}`)
    link(rel="stylesheet" href=`/css/custom.css?ts=${timestamp}`)
  body
    include partials/navbar.pug
    .min-h-screen.container.mx-auto
      .hero.bg-base-200.p-4
        .hero-content.text-center.z-auto
          .max-w-md
            h1.text-5xl.font-bold Projects
            p.py-6 Browse the current list of Projects in our database. Click the theme to filter by sectors such as:
            ul.flex.justify-center.gap-2
              each sector in sectors
                li.text-nowrap
                  a(href=`/solutions/projects?sector=${sector.sector_name}` class='btn btn-primary btn-xs')= sector.sector_name
      .overflow-x-auto
        if projects
          table.table.table-zebra
            thead
              tr
                th Title
                th(class="text-center") Sector
                th Summary
                th Details
            tbody
              each project in projects
                tr
                  td(class="font-bold")= project.title
                  td(class="text-center")= project.Sector.sector_name
                  td= project.summary_short
                  td
                    a(href=`/solutions/projects/${project.id}`) details
    include partials/footer.pug