doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title User History
    link(rel="stylesheet" href=`/css/main.css?ts=${timestamp}`)
    link(rel="stylesheet" href=`/css/custom.css?ts=${timestamp}`)
  body
    include partials/navbar.pug
    .min-h-screen.container.mx-auto
      .hero.bg-base-200.p-4
        .hero-content.text-center.z-auto.w-full
          .w-full
            h1.text-5xl.font-bold Login History
            p.py-6 Welcome, #{session.user.userName}!
            p.text-lg Email: #{session.user.email}
      .overflow-x-auto
        table.table.table-zebra
          thead
            tr
              th Login Date/Time
              th Client Information
          tbody
            each history in session.user.loginHistory
              tr.hover
                td.p-4
                  - const date = new Date(history.dateTime)
                  - const formattedDate = date.toLocaleDateString('fr-CA')
                  - const hours = String(date.getHours()).padStart(2, '0')
                  - const minutes = String(date.getMinutes()).padStart(2, '0')
                  - const seconds = String(date.getSeconds()).padStart(2, '0')
                  | #{formattedDate} - #{hours}:#{minutes}:#{seconds}
                td.p-4= history.userAgent
    include partials/footer.pug