doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title User History
    link(rel="stylesheet" href=`/css/main.css?ts=${timestamp}`)
    link(rel="stylesheet" href=`/css/custom.css?ts=${timestamp}`)
  body
    include partials/navbar.pug
    .min-h-screen.container.mx-auto
      .hero.bg-base-200.p-4
        .hero-content.text-center.z-auto.w-full
          .w-full
            h1.text-5xl.font-bold Login History
            p.py-6 Welcome, #{session.user.userName}!
            p.text-lg Email: #{session.user.email}
      .overflow-x-auto
        table.table.table-zebra
          thead
            tr
              th Login Date/Time
              th Client Information
          tbody
            each history in session.user.loginHistory
              tr.hover
                td.p-4
                  - const date = new Date(history.dateTime)
                  - const dateFormatter = new Intl.DateTimeFormat('fr-CA', { timeZone: 'America/Toronto', year: 'numeric', month: '2-digit', day: '2-digit' })
                  - const timeFormatter = new Intl.DateTimeFormat('fr-CA', { timeZone: 'America/Toronto', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false })
                  - const dateStr = dateFormatter.format(date)
                  - const timeStr = timeFormatter.format(date).replace(/\s*h\s*/g, ':').replace(/\s*min\s*/g, ':').replace(/\s*s\s*$/, '')
                  | #{dateStr} - #{timeStr}
                td.p-4= history.userAgent
    include partials/footer.pug